<div id="contacto">
    <div class="imagen">
        <img src="https://scontent.flim9-1.fna.fbcdn.net/v/t39.30808-6/211113359_950587579052315_4349393677402164333_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_ohc=AW4stLvDP2UAX9qg7xW&_nc_ht=scontent.flim9-1.fna&oh=00_AfDPN9Cki0bCrH92mp3fwzu_owZ2D4yUWXIonP48agwc-w&oe=63BB27E8" alt="">
    </div>
    <div class="contacto__datos">
        <div>
            <i class="fa-solid fa-location-dot ubicacion"></i>
            <span>Calle Lima-Peru</span>
        </div>
        <div>
            <i class="fa-solid fa-envelope"></i>
            <span>prueba.2023@gmail.com</span>
        </div>
        <div>
            <i class="fa-solid fa-phone"></i>
            <span>+51 999 999 999</span>
        </div>
    </div>
    <div class="educacion"></div>
</div>