<div class="container-fluit">
    <div class="padre">
        <div>
            <h1>MICHELL ANGEL</h1>
            <span>Desarrollador Front End</span>
        </div>
        
        
        <h3>Experiencia laboral</h3>
        <span>Carpinteria</span>
        <br>
        <span>Muebles M&L/ Lima/ 2020-2023</span>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt natus qui voluptas libero architecto officia optio perspiciatis mollitia officiis saepe doloremque eligendi sint, id quae hic culpa atque vero corporis?
        </p>
    </div>
    <div class="hijo">
        <app-contacto></app-contacto>
    </div>     
</div>
<app-agregarexpe></app-agregarexpe>