<div class="container">
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-7 col-7">
            <div class="padre">
                <div class="titulo__principal">
                    <h1>MICHELL ANGEL</h1>
                    <span>Desarrollador Front End</span>
                </div>
                <br>
                <div class="formacion__perfil">
                    <div>
                        <p>Perfil profesional</p>
                    </div>
                    <span>Soy un tipo de trabajador que está acostumbrado al trabajo bajo presión, 
                        tengo varios años de experiencia en atención al cliente y 
                        en búsqueda de oportunidades comerciales. También me considero 
                        una persona resolutiva, con buen ánimo y capaz de resolver 
                        problemas fácilmente.</span>
                </div>
                <br>
                <div class="formacion__academica">
                    <div>
                        <p>Formación academica</p>
                    </div>
                    <span>• Ingenieria de sistemas</span>
                    <br>
                    <span>• Técnico en computadoras</span>
                    <br>
                    <span>• Desarrollo web Front End</span>
                    <br>
                    <span>• Costura</span>
                    <br>
                    <span>• Ingles básico</span>
                    <br>
                    <span>• Word intermedio</span>
                </div>
                <br>
                <div class="formacion__experiencia">
                    <div>
                        <p>Expericias</p>
                    </div>
                    <span>• Atencion al cliente 2 años</span>
                    <br>
                    <span>• Mantenimiento a computadoras</span>
                    <br>
                    <span>• Instalación de S.O</span>
                    <br>
                    <span>• Operario de costura 1 año</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 col-5">
            <div class="hijo">
                <app-contacto></app-contacto>
            </div>
        </div>
    </div>
</div>
<app-login></app-login>